body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

header,
main,
footer {
  max-width: 1200px;
  margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer img {
    width: 64px;
    height: 64px;
    filter: invert(13%) sepia(95%) saturate(5313%) hue-rotate(343deg) brightness(76%) contrast(105%);
}

#search {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#content-wrapper {
  display: flex;
  gap: 20px;
}

#webring {
  flex: 1;
}

#webring-chart {
  flex: 1;
}

#webring-list {
  border: 1px solid white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 600px;
  overflow-y: auto;
}

#webring-list li {
  padding: 5px 10px;
}

#webring-list a {
  color: #ffffff;
  text-decoration: none;
}

#webring-list a:hover {
  text-decoration: underline;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border: 1px solid #fff;
    height: 600px;
}

#chart-container svg {
    max-width: 100%;
    height: auto;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: #fff;
    color: #000;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
